@import 'xbem.scss';
@import 'layout.scss';
@import 'patterns.scss';

@include block(app) {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  @include element(cover) {
    width: 20vw;
    height: 20vh;
    padding: map-get($sizes, padding-large);

    background-image: url('~gui/assets/images/cover.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  @include element(link) {
    text-decoration: none;

    >:hover {
      color: map-get($primary, black);
    }
  }
}
