@import 'xbem.scss';
@import 'layout.scss';
@import 'patterns.scss';

@include block(app) {
  display: flex;
  flex-direction: column;

  @include element(icon) {
    width: 3rem;
    height: 3rem;
    padding: map-get($sizes, padding-large);

    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    @include modifier(react) {
      background-image: url('~ui/assets/images/react.svg');
    }
  }

  @include element(header) {
    display: flex;
    align-items: center;

    >:not(:last-child) {
      margin-right: 1rem;
    }

    border: 1px solid map-get($primary, react);
  }

  @include element(content) {
    display: flex;
    padding: map-get($sizes, padding-large);
  }
}
