@import 'sizes';
@import 'colors';
@import 'spacing';

@import 'fonts';

// These can be extended and applied to any custom element
// Use this and only this so as to not step out of the specifications

// @Typography
$typography-title: unique-id();
@at-root %#{$typography-title} {
  font-size: map-get($sizes, font-title);
  font-weight: map-get($sizes, font-weight-bold);
}

$typography-primary: unique-id();
@at-root %#{$typography-primary} {
  font-size: map-get($sizes, font-primary);
  font-weight: map-get($sizes, font-weight-regular);
}
// End of @Typography


// @Buttons
$button-primary: unique-id();
@at-root %#{$button-primary} {
  @include spacing(generic-button-bundle);
  height: map-get($sizes, btn-height);
  display: inline-flex;
  align-items: center;
  opacity: .7;
  color: map-get($colors, project-blue-light);
  transition: color .4s ease;

  &:disabled {
    opacity: .3;
    filter: grayscale(100%);
  }

  &:hover {
    color: map-get($colors, project-blue);
  }
}

$button-secondary: unique-id();
@at-root %#{$button-secondary} {
  @include spacing(generic-button-bundle);
  height: map-get($sizes, btn-height);
  display: inline-flex;
  align-items: center;
  opacity: .7;
  color: map-get($colors, project-red-light);
  transition: color .4s ease;

  &:disabled {
    opacity: .3;
    filter: grayscale(100%);
  }

  &:hover {
    color: map-get($colors, project-red);
  }
}
// End of @Buttons
