@import "shared.scss";
@import "colors.scss";

.app {
  display: flex;
  flex-direction: column;

  .header {
    display: flex;
    align-items: center;

    > :not(:last-child) {
      margin-right: 1rem;
    }

    border: 1px solid map-get($colors, react);
  }

  .icon-react {
    width: 3rem;
    height: 3rem;
    padding: 2rem;

    background-image: url("~ui/assets/images/react.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}
